:root {
    --Green: #44FFA1;
    --Purple900: #24053E;
    --purple500: #584D62;
    --Purple100: #FCF8FF;
    --White: #FFFFFF;
}
@font-face {
    font-family: 'Fraunces';
    src: url('./assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf') format('Fraunces-Variable'),
    url('assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf' format('Fraunces_144pt-SemiBold'));
    }
 @font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/manrope/Manrope-VariableFont_wght.ttf') format('Manrope-Variable');
}

/*preset text clases*/
.text1 {
    font-family: "Fraunces";
    font-size: 5em;
    line-height: 100%;
    letter-spacing: 0;  
}
.text2{
    font-family: "Fraunces";
    font-size: 3.5em;
    line-height: 120%;
    letter-spacing: 0;
    font-weight:bold;
}
.text3{
    font-family: "Fraunces";
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: 0;
    font-weight:bold;
}
.text4 {
    font-family: 'Manrop';
    font-size: 1.125rem;
    line-height: 180%;
    letter-spacing: 0;
    font-weight:normal;
}
.text5 {
    font-family: 'Manrop';
    font-size: 1.125rem;
    line-height: 150%;
    letter-spacing: 0;
    font-weight:bold;
}

/*hover, active, focus states*/

.link:hover, .link:focus, .link:active {
    color: var(--Green);
}
.fa:hover, .fa:focus, .fa:active {
    color: var(--Purple900);
}
.btn:hover, .btn:focus, .btn:active {
    color: var(--Green);
    background-color: var(--Purple900);
}

        header {
            
            background: linear-gradient(to bottom, var(--Purple900) 80%, var(--Purple100) 80%);
            position: relative;
            z-index: 1;
            color: var(--White)
          
        }
        header::after {
            content: '';
            position: absolute;
            bottom: 64px;
            left: 50%;
            width: 100vw; /* adjust size of the semicircle */
            height: 64px; /* adjust size of the semicircle */
            background: var(--Purple900); /* color of the semicircle */
            clip-path: ellipse(70% 50%);
            transform: translateX(-50%);
            z-index: -2;
            margin: 0;
        }
        .nav {
            display: flex;
            justify-content: space-between;
            padding: 32px 20px 0;
        }
        .underline {
            text-decoration: underline; 
            text-decoration-color: var(--Green);
        }
        .hero {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10vw 20px;
            text-align: center;
            gap: 40px;
        }
        .btn {
            background-color: var(--Green);
            border: 2px solid var(--Green);
            color: var(--Purple900);
            padding: 0.75rem 2rem;
        }
        .hero-img {
            padding: 0 20px;
            max-width: 80vw;
            margin: 0 auto;
        }
    
    ol{
        
        list-style: none;
       
    }
    .list{
        position: relative;
        text-align: center;
        padding: 64px 20px 32px;
        color: var(--Purple900);
        background-color: var(--Purple100);
        z-index: 1;
    }
    .list::after {
        content: '';
        position: absolute;
        bottom: -32px;
        left: 50%;
        width: 100vw; 
        height: 64px; /* adjust size of the semicircle */
        background: var(--Purple100); /* color of the semicircle */
        clip-path: ellipse(70% 50%);
        transform: translateX(-50%);
        z-index: -2;
    }
    ol li {
        position: relative;
        margin-bottom: 32px; /* Space between list items */
        padding-top: 48px; /* Space for the circle number */
      }

    ol li::before {
        content: counter(list-item);
        position: absolute;
        top: 0; /* Adjust this value for desired vertical spacing */
        left: 50%;
        transform: translateX(-50%);
        width: 48px;
        height: 48px;
        border: 2px solid var(--purple500);
        border-radius: 50%; /* Makes the border circular */
        background-color: var(--Purple100);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--Purple900);
    }
    
    ol li h2 {
        margin: 24px 0; 
    }
  
    ol li p {
        margin: 0; /* Remove default paragraph margin */
    }

  .about {
    padding: 112px 20px 0;
  }
  .about-img{
    position: relative;
    width: 280px;
    height: 280px;
    z-index: 1;
    margin: 0 auto;
  }
  .about-text {
    position: relative;
    background-color: var(--Purple900);
    color: var(--White);
    margin-top: -48px;
    z-index: 2;
    padding: 32px;
    text-align: center;
  }
  .about-text p {
    margin: 32px 0;
  }
  
  footer {
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logo{
    width: 95.76px;
    height: 24.61;
   
  }
  .fa {
    padding: 14px;
    width: 40px;
    text-align: center;
    color: var(--purple500);
    
  }